<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/propper/popper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        <%= title %>
    </title>
    <style>
        body {
            background-color: #e3c6e6;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 30px;
            background-color: white;
            border-radius: 20px;
        }

        thead {
            background-color: #BF72B4;
        }

        th,
        td {
            text-align: center;
            font-size: 20px;
        }

        /* tr:nth-child(even) {
            background-color: #BF72B4;
        } */

        th {
            font-size: 20px;
        }

        .detail {
            background-color: #621685;
            color: white;
            border-radius: 10px;
            border: none;
            font-size: 16px;
            padding: 2% 3%;
            height: 40px;
            width: 100px;
        }

        .cancel {
            background-color: orange;
            color: white;
            border-radius: 10px;
            border: none;
            font-size: 16px;
            padding: 2% 3%;
            width: 120px;
        }
    </style>
</head>

<body>
    <% include navbar %>
        <div class="contanier" style="width: 1200px; margin-left: 10%; ">
            <table class="table" style="margin-top: 30px; ">
                <thead>
                    <tr>
                        <th scope="col">วันที่สมัคร</th>
                        <th scope="col">Username</th>
                        <th scope="col">สถานะ</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% for(let i=0; i < RiderList.length; i++) { %>
                        <tr>
                            <td>
                                <%= VerifyRiderList[i]['date'] %>
                            </td>
                            <td>
                                <%= RiderList[i]['username'] %>
                            </td>
                            <% let verifyStatus='' %>
                                <% for(let j=0; j < VerifyRiderList.length; j++) { %>
                                    <% if(RiderList[i]['verifyID']==VerifyRiderList[j]['id']){ %>
                                        <% for(let k=0; k < VerifyStatusList.length; k++) { %>
                                            <% if(VerifyRiderList[j]['verifyStatusID']==VerifyStatusList[k]['id']){ %>
                                                <% verifyStatus=VerifyStatusList[k]['id'] %>
                                                    <% if(VerifyStatusList[k]['id']=='VS1' ){ %>
                                                        <td style="color: orange;">
                                                            <%= VerifyStatusList[k]['name'] %>
                                                        </td>
                                                        <% } else if(VerifyStatusList[k]['id']=='VS2' ){ %>
                                                            <td style="color: green;">
                                                                <%= VerifyStatusList[k]['name'] %>
                                                            </td>
                                                            <% } else{ %>
                                                                <td style="color: red;">
                                                                    <%= VerifyStatusList[k]['name'] %>
                                                                </td>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% } %>
                                                                                <% } %>
                                                                                    <td>
                                                                                        <button type="button"
                                                                                            class="detail"
                                                                                            id="detailButt"
                                                                                            onclick="detail('<%= RiderList[i].riderID %>')">รายละเอียด</button>
                                                                                    </td>
                                                                                    <td>

                                                                                        <% if(verifyStatus=='VS4' ) { %>
                                                                                            <form method="post"
                                                                                                id="formSubmit"
                                                                                                action="/rider/updateVerifyRider/unban/<%= RiderList[i].verifyID %>/VS2">
                                                                                                <button type="submit"
                                                                                                    class="cancel"
                                                                                                    style="background-color: green;"
                                                                                                    id="detailcan">ยกเลิกการระงับ</button>
                                                                                            </form>
                                                                                            <% }else
                                                                                                if(verifyStatus=='VS2' )
                                                                                                { %>
                                                                                                <!-- <form method="post"
                                                                                                    id="formSubmit"
                                                                                                    action="/rider/updateStatus/<%= RiderList[i].verifyID %>/VS4"> -->
                                                                                                <button type="button"
                                                                                                    class="cancel"
                                                                                                    id="detailcan"
                                                                                                    onclick="ban('<%= RiderList[i].verifyID %>')">ระงับ</button>


                                                                                                <!-- </form> -->
                                                                                                <% } %>
                                                                                                    <button
                                                                                                        style=" background-color: red;"
                                                                                                        type="button"
                                                                                                        class="cancel"
                                                                                                        id="deleteButt"
                                                                                                        onclick="deleteRider('<%= RiderList[i].verifyID %>', '<%= RiderList[i].riderID %>')">ลบ</button>


                                                                                    </td>

                        </tr>
                        <% } %>

                </tbody>
            </table>
        </div>

        <div id="myModal" class="modal" style="margin-top: 10%; width: 700px; height:500px; margin-left: 27%;">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        ระงับ
                    </h4>
                    <span style="font-size: 30px; font-weight: bold;" id="close">x</span>
                </div>
                <form id="banForm" action="" method="post">
                    <div class="modal-body">
                        <div class="input-group">
                            <input type="text" id="reason" name="reason" class="form-control"
                                placeholder="เหตุผลในการระงับ">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            id="submitBan">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="myModal2" class="modal" style="margin-top: 10%; width: 700px; height:500px; margin-left: 27%;">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        ลบไรเดอร์
                    </h4>
                    <span style="font-size: 30px; font-weight: bold;" id="close2">x</span>
                </div>
                <form id="deleteForm" action="" method="post">
                    <div class="modal-body">
                        <div class="input-group">
                            <input type="text" id="reason" name="reason" class="form-control"
                                placeholder="เหตุผลในการลบ">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal"
                            id="submitDelete">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
        <script>
            firebase.initializeApp({
                apiKey: "AIzaSyDH6BAciN_zTbcFKGk_3wXMghREeaZVcKQ",
                authDomain: "avnmetaverse.firebaseapp.com",
                projectId: "avnmetaverse",
                storageBucket: "avnmetaverse.appspot.com",
                messagingSenderId: "170904826922",
                appId: "1:170904826922:web:688f14dc453cb5ea3dbf53",
                measurementId: "G-XSWPGX1LSR"
            });
            let db = firebase.firestore();
            db.collection("VerifyRiders")
                .onSnapshot((snapshot) => {
                    snapshot.docChanges().forEach((change) => {
                        if (change.type === "added") {
                            location.href = '/rider';
                        }
                        if (change.type === "modified") {
                            location.href = '/rider';
                        }
                    });
                });
            
            let verifyID = "";
            let riderID = "";

            // const ws = new WebSocket("wss://avn-websocket-rider.onrender.com");

            // ws.addEventListener('message', function (event) {
            //     location.href = '/rider';
            // });

            function detail(id) {
                location.href = '/rider/edit/' + id
            }

            const modal = document.getElementById("myModal");
            // const btn = document.getElementById("detailcan");
            const span = document.getElementById("close");


            // When the user clicks the button, open the modal
            function ban(vID) {
                verifyID = vID;
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            const modal2 = document.getElementById("myModal2");
            const btn2 = document.getElementById("deleteButt");
            const span2 = document.getElementById("close2");


            // When the user clicks the button, open the modal
            function deleteRider(vID, rID) {
                verifyID = vID;
                riderID = rID;
                modal2.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal2
            span2.onclick = function () {
                modal2.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal2, close it
            window.onclick = function (event) {
                if (event.target == modal2) {
                    modal2.style.display = "none";
                }
            }

            $("#submitBan").on('click', () => {
                document.getElementById("banForm").action = "/rider/updateVerifyRider/ban/" + verifyID + "/VS4";
                document.getElementById("banForm").submit();
            })

            $("#submitDelete").on('click', () => {
                document.getElementById("deleteForm").action = "/rider/deleteRider/" + verifyID + "/" + riderID;
                document.getElementById("deleteForm").submit();
            })
        </script>

</body>

</html>